node_modules
typings
src/**/*.js
dist/**/*.js
**/*.js.map
!node_modules/@types/pouchdb-core/index.d.ts
!node_modules/@types/react-wavesurfer
!node_modules/@types/reactable
!node_modules/@types/id3-parser
!node_modules/@types/js-sha256